extends: default.liquid

title: About Me!
route: about
path: about/
---

<h3>Hello!</h3>
<p>My name is Jun Han (Johnson) Ooi and currently, I work at <a target="_blank" href="https://www.urbandaddy.com/">UrbanDaddy</a> as a Junior Software Engineer. My alma mater is <a target="_blank" href="http://www.brooklyn.cuny.edu/">Brooklyn College</a>. If you wish to know more about my background, you can check out my LinkedIn's profile. The link is located below.</p>
</p>
<p>I deal with <a target="_blank" href="https://www.python.org/">Python</a>, <a target="_blank" href="https://www.djangoproject.com/">Django</a>, <a href="_blank"  href="https://aws.amazon.com/">AWS</a>, <a target="_blank"  href="https://www.heroku.com/">Heroku</a>, (some) <a target="_blank" href="https://secure.php.net/">PHP</a>, CSS, and of course, JavaScript in my day-to-day work. As you can tell already, my main repertoire is in web development. Aside from web development, I'm also interested in system programming and game theory.</p>
<p>What'd I do beside developing software? I read books and run.</p>
<p>
This is where I am going to write (mostly) my random thoughts, opinions or tutorials. Hopefully, you will enjoy some of them.
</p>
<p><i>Current Status: Learning/experimenting with <strong>Rust</strong>.</i></p>
<h5>If you want to contact me, you can reach me via:</h5>
<p>
    <ul>
        <li>
            <a href="mailto:ojh5065@gmail.com" target="_blank">Email</a>
        </li>
        <li>
            <a href="https://github.com/tebesfinwo" target="_blank">GitHub</a>
        </li>
        <li>
            <a href="https://twitter.com/Tebesfinwo" target="_blank">Twitter</a>
        </li>
            <li>
            <a href="https://www.linkedin.com/in/johnsonooi" target="_blank">LinkedIn</a>
        </li>
    </ul>
</p>
<p>Thank you!</p>
