<div class="twelve column">
    <div class="copyright">
        <strong>Copyright &copy; 2018 <a href="/">{{ site.data.author }}</a></strong>
    </div>
    <div>
        <strong>Powered by <a target="_blank" href="{{ site.data.cobalt.link }}">COBALT</a> & <a target="_blank" href="{{ site.data.skeleton.link }}">SKELETON</a></strong>
    </div>     
</div>
