<article class="section-post">
    <h1 class="section-post-title">{{ page.title }}</h1>
    <div class="section-post-date">
        <strong>Written on {{ page.published_date| date: "%a, %b %d, %y" }}</strong>
    </div>
    <div class="section-post-content">{{ page.content }}</div>
</article>
