<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.liquid' %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar">
                <div class="container">
                    <ul class="navbar-list">
                        <li class="navbar-item">
                            <a class="navbar-link navbar-home" href="/">Johnson Ooi</a>
                        </li>
                        <li class="navbar-item u-pull-right">
                            <a class="navbar-link" href="/rss.xml">RSS</a>
                        </li>
                        <li class="navbar-item u-pull-right">
                            <a class="navbar-link" href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="row content">
                <div class="twelve column">
                     {% if page.collection == 'posts' %}
                          {% include 'post.liquid' %}
                     {% else %}
                          {{ page.content }}
                     {% endif %}
                </div>
            </main>
            <footer class="row footer">
                {% include 'footer.liquid' %}
            </footer>
        </div>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-48789013-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
